.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#050618, #212b46);
}

.title{
    font-size: 70px;
    text-align: center;
    color: #fff;
    animation: flipeTitle 2s;
}

@keyframes flipeTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0);
    }
}

.containerInput{
    background: rgba(255, 255, 255, .2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .5);
}

.containerInput input{
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .5s;
}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 20px;
    text-align: center;
    gap: 16px;
    background: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2{
    font-size: 30px;
}

.main span{
    font-weight: bold;
}

@media (max-width: 620px){
    .title{
        font-size: 50px;
    }
    .main{
        width: 80%;
        min-height: 250px;
    }
    .main h2{
        font-size: 26px;
    }
}